nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, .9);
	z-index: 999;

	a {
		display: inline-block;
		text-decoration: none;
		margin: 0 5px
		padding: 20px 10px;
		color: #444;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.9em;
		font-weight: bold;

		&.active {
			color: #ff5722;
		}

		&:hover {
			color: #000;
		}
	}
}
